.gls-confirmation-wrapper{
  width: 700px;
  height: 75px;
  background-color: white;
  border: solid 2px green;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 9;
  border-width: 3px 3px 0 3px;
  p{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
}